<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required for Flutter development and networking -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for accessing storage and media -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- Permissions for accessing media on Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
</manifest>
